<p id="notice"><%= notice %></p>

<div class="ui text container">
    <h1>You've been invited!</h1>
    <p>
        You've been invited to join the
        <strong><%= @team.side %>'s team</strong>
        at
        <%= @team.wedding.couple_first_names.join(' & ') %>'s wedding!
    </p>

    <p>Inside, you'll be able to:
    </p>
    <ul>
        <li>Invite wedding guests</li>
        <li>Selectively invite guests to specific events
            <em>(Soon)</em>
        </li>
        <li>Have wedding invitations printed and delivered with just a click<em>(Soon)</em>
        </li>
        <li>View RSVP statuses
            <em>(Soon)</em>
        </li>
        <li>Send guests SMS messages before and during the events
            <em>(Soon)</em>
        </li>
    </ul>
<% if user_signed_in? %>
<a class="ui basic green button" href="#">Join Team</a>
<% else %>
    <script src="https://cdn.auth0.com/js/lock/10.2/lock.min.js"></script>
    <script type="text/javascript">
        var lock = new Auth0Lock('TIKTNP8kYglAOMR6jhOEBBEi0qJUxFCI', 'gilani.auth0.com', {
            auth: {
                <% if Rails.env.production? %>
                redirectUrl: 'https://shaadiplan.io/auth/auth0/callback?origin=<%= url_encode(request.fullpath) %>',
                <% else %>
                redirectUrl: 'http://localhost:3000/auth/auth0/callback?origin=<%= url_encode(request.fullpath) %>',
                <% end %>
                responseType: 'code',
                params: {
                    scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
                }
            }
        });
    </script>
    <button class="ui button" onclick="lock.show();">Login!</button>
<% end %>
</div>
