<p id="notice"><%= notice %></p>

<div class="ui text container">
  <h1>Team <%= @team.side.upcase_first %>!</h1>
  <p>
    Here's a list of everyone on <%= @team.name.split(' ').first %>'s team!
  </p>

  <ol>
    <% @team.relationships.each do |member| %>
    <li><%= member.user.info :name %>, <%= member.title %> of the <%= @team.side %></li>
    <% end %>
  </ol>
</div>
