<div class="ui text container">
    <div>
        <img class="avatar" src="<%= current_user.info :picture %>"/>
        <h2>Welcome
            <%= current_user.info :name  %></h2>
        <p>You are part of
                <%= "#{@user.organizers.count} #{'wedding'.pluralize(@user.organizers.count)}" %>
        </p>
        <ul>
        <% @user.organizers.each do |organizer| %>
        <li>The <a href="<%= wedding_organizers_path(organizer.wedding) %>"><em><%= organizer.relationship %></em></a> for <strong><a href="<%= wedding_path(organizer.wedding) %>"><%= organizer.wedding.couple_first_names.join(' & ') %>'s wedding</a></strong></li>
        <% end %>
        </ul>
        <a class="ui button" href="<%= new_wedding_path %>">
            <%= @user.organizers.count.zero? ? 'Create one!' : 'Create another!' %></a>
    </div>
</div>
