<div class="ui text container">
    <div>
        <img class="avatar" src="<%= current_user.info :picture %>"/>
        <h2>Welcome
            <%= current_user.info :name  %></h2>
        <p>You are part of
                <%= "#{@user_teams.count} #{'wedding'.pluralize(@user_teams.count)}" %>
        </p>
        <ul>
        <% @user_teams.each do |team| %>
        <li>The <a href="<%= team_path(team) %>"><em><%= team.side.upcase_first %>'s</em> team</a> for <a href="<%= wedding_path(team.wedding) %>"><%= team.wedding.couple_first_names.join(' & ') %>'s wedding</a></li>
        <% end %>
        </ul>
        <a class="ui button" href="<%= new_wedding_path %>">
            <%= @user_teams.count.zero? ? 'Create one!' : 'Create another!' %></a>
    </div>
</div>
