<div class="ui text container">
    <h1>
        Hello
    </h1>
    <% if @invitee %>
    <div class="ui segment">
        <p>
            <%= @wedding.couple.map{ |e| e.split(' ').first}.join(' & ') %>
            are getting married soon and I wanted to make sure I had your right contact information.
            <br>
            Please fill out your information below!
            <br>
            &mdash;
            <strong><%= @invitee.info :name %></strong>,
            <%= @invitee_title %>
            of the
            <%= @invitee_team.side %>.
        </p>
    </div>
    <% end %>

    <%= form_for([@guest.wedding, @guest], html: { class: 'ui form'}) do |f| %>
    <% if @guest.errors.any? %>
    <div id="error_explanation">
        <h2><%= pluralize(@guest.errors.count, "error") %>
            prohibited this guest from being saved:</h2>

        <ul>
            <% @guest.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :address, 'House address' %>
        <%= f.text_field :address %>
    </div>

    <div class="field">
        <%= f.label :phone, 'Mobile' %>
        <%= f.text_field :phone %>
    </div>
    <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <% if @invitee %>

    <%= f.hidden_field :invited_by, value: @invitee.info(:name) %>
    <%= f.hidden_field :team, value: @invitee_team.id %>
    <% else %>

    <div class="field">
        <%= f.label :invited_by %>
        <%= f.text_field :invited_by %>
    </div>

    <%= f.label "I'm with the" %>
    <div class="inline fields">
        <% @wedding.teams.each do |team| %>
        <div class="field">
            <div class="ui radio checkbox">
                <%= f.radio_button :team, team.id %>
                <%= f.label :team, "#{team.side.upcase_first}: #{team.name}" %>
            </div>
        </div>
        <% end %>
    </div>
    <% end %>

    <div class="actions">
        <%= f.submit 'Sign me up!' , class: "ui button" %>
    </div>
    <% end %>
</div>
