<p id="notice"><%= notice %></p>

<div class="ui text container">

<p>
  <strong>Name:</strong>
  <%= @guest.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guest.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guest.phone %>
</p>

<p>
  <strong>Invited by:</strong>
  <em><%= @guest.invited_by %></em> of the <%= @guest.team.side %>'s side
</p>


<%= link_to 'Edit', edit_wedding_guest_path(@guest.wedding, @guest) %> |
<%= link_to 'Wedding', wedding_guest_path(@guest.wedding) %>
</div>
