<div class="ui text container">

<p>
  Thanks <%= @guest.name %>!<br>
  You're all signed up! We'll be contacting you soon!
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %> <br>
  <strong>Address:</strong>
  <%= @guest.address %> <br>
  <strong>Phone:</strong>
  <%= @guest.phone %>
</p>



<%= link_to 'Edit', edit_wedding_guest_path(@guest.wedding, @guest), class: 'ui button' %>
<%= link_to wedding_guest_path(@guest.wedding), class: 'ui button' do %>
<i class="ui left arrow icon"></i> Wedding
<% end %>
</div>
