<div class="ui text container">
  <h1>Editing <%= @organizer.user.info(:name).split(" ").first %></h1>
    <div class="ui two column collapsable grid container">
        <div class="ui column">

            <%= render 'form', organizer: @organizer %> <br>
        </div>
        <div class="ui column">
            <div class="ui card">
                <div class="content">
                    <img class="right floated mini ui image" src="<%= @organizer.user.info :picture %>">
                    <div class="header">
                        <%= @organizer.user.info :name %>
                    </div>
                    <div class="meta">
                      <%= @organizer.relationship %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
