<div class="ui text container">
    <h1>Organizers</h1>

    <table class="ui very basic collapsing celled table">
        <tbody>
            <% @organizers.each do |organizer| %>
            <tr>
                <td>
                    <h4 class="ui image header">
                        <img src="<%= organizer.user.info :picture %>" class="ui mini rounded image">
                        <div class="content">
                            <%= organizer.user.info :name %>
                            <div class="sub header"><%= organizer.relationship %>
                            </div>
                        </div>
                    </h4>
                </td>
                <td>
                  <div class="ui small icon buttons">
                    <a class="ui button" href="<%= edit_wedding_organizer_path(@wedding, organizer) %>">
                        <i class="pencil icon"></i>
                    </a>
                    <a class="ui button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="<%= wedding_organizer_path(@wedding, organizer) %>">
                      <i class="trash icon"></i>
                    </a>
                  </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

    <a class="ui basic green button" href="<%= new_wedding_organizer_path %>"><i class="add user icon"></i>Add organizers</a>
</div>
